{% extends 'base.html.twig' %}

{% block title %}Abonnement{% endblock %}

{% block body %}
    <h1>Abonnement</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Nom</th>
            <td>{{ abonnement.nom }}</td>
        </tr>
        <tr>
            <th>Prix</th>
            <td>{{ abonnement.prix }}</td>
        </tr>

        <tr>
            <th>Description</th>
            <td>{{ abonnement.description }}</td>
        </tr>
        <tr>
            <th>Image</th>
            <td>{{ abonnement.image }}</td>
        </tr>
        </tbody>
    </table>


{% endblock %}
