{% extends 'base.html.twig' %}

{% block title %}Abonnements{% endblock %}

{% block body %}
    <h1>Abonnements</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Prix</th>
            <th>Nom</th>
            <th>Description</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for abonnement in abonnements %}
            <tr>
                <td>{{ abonnement.prix }}</td>
                <td>{{ abonnement.nom }}</td>
                <td>{{ abonnement.description }}</td>
                <td>
                    <a class="btn btn-info btn-sm" href="{{ path('abonnement_info', {'id': abonnement.id}) }}">Voir en détail</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
