{% extends 'base.html.twig' %}

{% block title %}Mail de réinitialisation envoyé{% endblock %}

{% block body %}
    <p>Un email qui contient le lien vous a été envoyé, il faudra cliquer sur le lien pour réinitialiser votre mot de passe.
        Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez d'email, vérifiez vos spams ou <a href="{{ path('app_forgot_password_request') }}">Réessayer ici</a>.</p>
{% endblock %}
