{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block body %}
    <h1>
        <bold>Wolfit</bold>
    </h1>
    <h2>La salle de la meute</h2>
    {% for a in article %}
        <div class="container">
            <div class="row">
                <h1><bold>{{ a.article.nom }}</bold></h1>
            </div>
            <div class="row">
                <h5>{{ a.article.contenu }}</h5>
            </div>
        </div>
    {% endfor %}
{% endblock %}
