{% extends 'base.html.twig' %}

{% block title %}Rédacteur{% endblock %}

{% block body %}
    {{ include('menuAdmin.html.twig') }}
    <div class="container">
        Ajouter un rédacteur
        <table class="table">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Sexe</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.nom }}</td>
                    <td>{{ user.prenom }}</td>
                    <td>{{ user.sexe }}</td>
                    <td>

                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">Aucun utilisateur</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}