{% extends 'base.html.twig' %}

{% block title %}Rédacteur{% endblock %}

{% block body %}
    {{ include('menuAdmin.html.twig') }}
    <div class="container">
        Ajouter un article
        {{ form(form) }}
    </div>
{% endblock %}