{% extends 'base.html.twig' %}

{% block title %}Wolfit-Rédacteurs{% endblock %}

{% block body %}
    {{ include('menuAdmin.html.twig') }}
    <div class="container-fluid">
        <p>Modifier le rédacteur: {{ redacteur.pseudo }}</p>
        <p>{{ form(form) }}</p>
    </div>
{% endblock %}