{#début#}
{% extends 'base.html.twig' %}

{% block title %}Wolfit-Rédacteurs{% endblock %}

{% block body %}
    {{ include('menuAdmin.html.twig') }}
    <div class="container-fluid">
        Liste des utilisateurs :
        <table class="container-fluid bg-dark">
            <hr class="my-8">
            <tr class="text-center">
                <th>
                    Prénom
                    <hr class="my-8">
                </th>
                <th>
                    Nom
                    <hr class="my-8">
                </th>
                <th>
                    Rôles
                    <hr class="my-8">
                </th>
                <th>
                    Actions
                    <hr class="my-8">
                </th>
            </tr>
            {% for user in utilisateurs %}
                <tr>
                    <td class="text-center align-baseline">

                    </td>
                    <td class="text-center align-baseline">

                    </td>
                    <td class="text-center align-baseline">

                    </td>
                    <td class="text-center align-baseline">

                    </td>
                    <td class="text-center align-baseline">

                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
{#fin#}