{#début#}
{% extends 'base.html.twig' %}

{% block title %}Rédacteurs{% endblock %}

{% block body %}
    {{ include('menuAdmin.html.twig') }}
    <div class="container-fluid">
        <table class="container-fluid bg-dark">
            <hr class="my-8">
            <tr>
                <th>
                    Liste des rédacteurs :
                    <hr class="my-8">
                </th>
            </tr>
            {% for redacteur in redacteurs %}
                <tr>
                    <td class="text-center">
                        {{ redacteur.pseudo }}
                        <hr class="my-4">
                    </td>
                    <td class="text-center align-baseline">
                        <a class="btn btn-warning btn-sm" href="{{ path('editRedacteur',{ 'id': redacteur.id}) }}">Modifier</a>
                    </td>
                    <td class="text-center align-baseline">
                        <a class="btn btn-danger btn-sm" href="{{ path('deleteRedacteur',{ 'id': redacteur.id}) }}">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
{#fin#}