{% extends 'base.html.twig' %}

{% block title %}Contacts{% endblock %}

{% block body %}
    <h1>Contacts</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Contenu</th>
            <th>Expediteur</th>
            <th>Répondu</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.contenu }}</td>
                <td>{{ contact.email }}</td>
                <td>{% if contact.lu == true %}
                        <input type="checkbox" checked/>
                    {% else %}
                        <input type="checkbox"/>
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('mailResponse', {'id': contact.id}) }}">Répondre</a>
                </td>
                <td>
                    {{ include('contact/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Pas d'enregistrements</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
