{% extends 'base.html.twig' %}

{% block title %}Wolfit-Contact{% endblock %}

{% block body %}

    <h1 class="h3 mb-3 font-weight-normal">Contact</h1>

    <div class="container">
        {% for contact in contacts %}
            {{ include('contact/_formContactBack.html.twig') }}
        {% endfor %}
    </div>
{% endblock %}