{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

    <h1 class="h3 mb-3 font-weight-normal">Contact</h1>

    <div class="container">
        <label for="inputEmail">E-mail</label>
        <input type="Email" required  class="form-control">
        <br>
        <label for="inputMessage">Message</label>
        <textarea type="Message" class="form-control" rows="5">
          </textarea>
        <br><br>
        <div class="text-center">
            <button class="btn btn-lg btn-primary" type="envoyer" >
                Envoyer
            </button>
            <br><br>
            <p> <br>16 Avenue Denfert Rochereau <br> 07 83 51 56 19 </p>
        </div>
    </div>


    <div class="row justify-content-around">

        <div class="col-sm-3 text-center"><br><br>Horaires <br><br> Lundi : 8h - 22h<br> Mardi : 8h - 22h<br> Mercredi : 8h - 22h <br> Jeudi : 8h - 22h<br> Vendredi : 8h - 22h<br> Samedi : 9h 22h </div>

        <div class="col-sm-3 text-center"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2708.5589814795117!2d6.025879515814874!3d47.24477182089549!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478d6323857fcc7d%3A0xc4eb0f8cde82947d!2s16%20Avenue%20Denfert%20Rochereau%2C%2025000%20Besan%C3%A7on!5e0!3m2!1sfr!2sfr!4v1600933673107!5m2!1sfr!2sfr" width="500" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></div>
    </div>


{% endblock %}