{% extends 'base.html.twig' %}

{% block title %}planning{% endblock %}

{% block body %}
    <h1 class="h3 mb-3 font-weight-normal">Planning</h1>
<br>

    <table style="height: 80vh; width: 200vh; text-align: center;border-radius: 10% / 70%; background: radial-gradient(ellipse farthest-corner at top left, #44b3c1, #604772)">
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <th>Lundi</th>
            <td>&nbsp;</td>
            <th>Mardi</th>
            <td>&nbsp;</td>
            <th>Mercredi</th>
            <td>&nbsp;</td>
            <th>Jeudi</th>
            <td>&nbsp;</td>
            <th>Vendredi</th>
            <td>&nbsp;</td>
            <th>Samedi</th>
            <td>&nbsp;</td>
            <th>Dimanche</th>
        </tr>
        <tr>
            <th>08h-10h</th>
            <td>&nbsp;</td>
            <td>1</td>
            <td>&nbsp;</td>
            <td>1</td>
            <td>&nbsp;</td>
            <td>1</td>
            <td>&nbsp;</td>
            <td>1</td>
            <td>&nbsp;</td>
            <td>1</td>
            <td>&nbsp;</td>
            <td>1</td>
            <td>&nbsp;</td>
            <td>1</td>

        </tr>
        <tr>
            <th>10h-12h</th>
            <td>&nbsp;</td>
            <td>2</td>
            <td>&nbsp;</td>
            <td>2</td>
            <td>&nbsp;</td>
            <td>2</td>
            <td>&nbsp;</td>
            <td>2</td>
            <td>&nbsp;</td>
            <td>2</td>
            <td>&nbsp;</td>
            <td>2</td>
            <td>&nbsp;</td>
            <td>2</td>

        </tr>
        <tr>
            <th>14h-16h</th>
            <td>&nbsp;</td>
            <td>3</td>
            <td>&nbsp;</td>
            <td>3</td>
            <td>&nbsp;</td>
            <td>3</td>
            <td>&nbsp;</td>
            <td>3</td>
            <td>&nbsp;</td>
            <td>3</td>
            <td>&nbsp;</td>
            <td>3</td>
            <td>&nbsp;</td>
            <td>3</td>

        </tr>
        <tr>
            <th>16h-18h</th>
            <td>&nbsp;</td>
            <td>4</td>
            <td>&nbsp;</td>
            <td>4</td>
            <td>&nbsp;</td>
            <td>4</td>
            <td>&nbsp;</td>
            <td>4</td>
            <td>&nbsp;</td>
            <td>4</td>
            <td>&nbsp;</td>
            <td>4</td>
            <td>&nbsp;</td>
            <td>4</td>

        </tr>
    </table>

{% endblock %}