<footer class="footer mt-auto py-3">
    <div class="container-fluid fixed-bottom d-flex justify-content-around">
        <span class="text-muted" style=""><a href="{{ path('planning') }}">Planning</a></span>
        <span class="text-muted"><a href="{{ path('contact') }}">Contact</a></span>
    </div>
</footer>