{% extends 'base.html.twig' %}

{% block title %}Rubriques{% endblock %}

{% block body %}
    {{ include('menuAdmin.html.twig') }}
    <div class="container-fluid">
        <p>Modifier le nom de la rubrique</p>
        <p>{{ form(form) }}</p>
    </div>
{% endblock %}