{% extends 'base.html.twig' %}

{% block title %}Rubriques{% endblock %}

{% block body %}
    {{ include('menuAdmin.html.twig') }}
    <div class="container-fluid">
        <div class="row">
            {% for rubrique in rubriques %}
                {{ rubrique.nom }}
                <a class="btn btn-danger" href="{{ path('deleteRubrique',{ 'id': rubrique.id}) }}">Supprimer</a>
                <a class="btn btn-secondary" href="{{ path('editRubrique',{ 'id': rubrique.id}) }}">Modifier</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}