{% extends 'base.html.twig' %}

{% block title %}Rubriques{% endblock %}

{% block body %}
    {{ include('menuAdmin.html.twig') }}
    <div class="container-fluid">
        <table class="container-fluid bg-dark">
            <hr class="my-8">
            <tr>
                <th>
                    Liste des rubriques :
                    <hr class="my-8">
                </th>
            </tr>
            {% for rubrique in rubriques %}
                <tr>
                    <td class=" pl-5 pr-5 text-center text-break">
                        {{ rubrique.nom }}
                        <hr class="my-4">
                    </td>
                    <td class="text-center align-baseline">
                        <a class="btn btn-warning btn-sm" href="{{ path('editRubrique',{ 'id': rubrique.id}) }}">Modifier</a>
                    </td>
                    <td class="text-center align-baseline">
                        <a class="btn btn-danger btn-sm" href="{{ path('deleteRubrique',{ 'id': rubrique.id}) }}">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}