
{#début#}
{% extends 'base.html.twig' %}

{% block title %}Rubriques{% endblock %}

{% block body %}
    {{ include('menuAdmin.html.twig') }}
    <div class="container-fluid">

        <div class="row">
            <div class="container-fluid mt-4">
                <table>
                    <tr>
                        <button type="button" class="btn btn-primary btn-lg btn-block text-dark"><a
                                    class="text-reset text-decoration-none" href="{{ path('creerRubrique') }}">Créer
                                rubrique</a></button>
                    </tr>
                    <tr>
                        <button type="button" class="btn btn-primary btn-lg btn-block text-dark mt-3 "><a
                                    class="text-reset text-decoration-none"
                                    href="{{ path('gererRubrique') }}">Gérer
                                rubriques</a></button>
                    </tr>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
{#fin#}