{% extends 'base.html.twig' %}

{% block title %}Wolfit-Articles{% endblock %}

{% block body %}
    {{ include('menuAdmin.html.twig') }}
    <div class="container">
        Ajouter un article
        {{ form(articleForm) }}
    </div>
{% endblock %}