{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    {{ include('menuAdmin.html.twig') }}
    <div class="container-fluid">
        <div class="row">
            {% for articles in articles %}
                {{ articles.getNom() }}
                <a class="btn btn-danger" href="{{ path('deleteRubrique',{ 'id': rubriques.getId()}) }}">Supprimer</a>
                <a class="btn btn-secondary" href="{{ path('editRubrique',{ 'id': rubriques.getId()}) }}">Modifier</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}