{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    {{ include('menuAdmin.html.twig') }}
    <div class="container-fluid">
        <div class="row">
            {% for article in articles %}
                {{ article.nom }}
                <a class="btn btn-danger" href="{{ path('deleteArticle',{ 'id': article.id}) }}">Supprimer</a>
                <a class="btn btn-secondary" href="{{ path('editArticle',{ 'id': article.id}) }}">Modifier</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}