{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    {{ include('menuAdmin.html.twig') }}
    <div class="container-fluid">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-secondary"><a class="text-reset text-decoration-none" href="{{ path('create_article') }}">Créer article</a></button>
            <button type="button" class="btn btn-secondary"><a class="text-reset text-decoration-none" href="{{ path('gerer_article') }}">Gérer articles</a></button>
        </div>
    </div>
{% endblock %}